{% extends 'base.html.twig' %}

{% block title 'Bienvenue chez Marmiton' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1 class="text-danger">Bienvenue chez Marmiton</h1>
        <p>70 000 recettes faites par vous et pour vous</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-warning">Sauté de veau aux olives (Corse)</h3>
                <img class="image" src="./../../veau-aux-olives-xavier-2.jpg" style="width:330px;height:250px;">
                <p> Etape 1
                    Faire blanchir les olives pendant 15 secondes, dans de l'eau portée à ébullition.
                    Etape 2
                    Les égoutter et les réserver.
                    Etape 3
                    Peler l'oignon (et l'émincer), la gousse d'ail (que l'on écrase).
                    Etape 4
                    Faire chauffer une cocotte, et y faire dorer les morceaux de veau et les lardons, sur feu doux.
                    Etape 5
                    Ajouter l'oignon et l'ail, et prolonger la cuisson de 2 ou 3 min.
                    Etape 6
                    Saupoudrer légèrement de farine, et mélanger pendant encore 2 ou 3 min.
                    Etape 7
                    Verser le vin blanc, l'anis (ou les graines de fenouil), et ajouter de l'eau, jusqu'à hauteur de la viande.
                    Etape 8
                    Incorporer 1 cuillère à soupe de concentré de tomate, le bouquet garni, saler et poivrer.
                    Etape 9
                    Laisser mijoter, en remuant délicatement de temps en temps, pendant 1h30.
                    Etape 10
                    Ajouter les olives, et prolonger la cuisson de 30 min.
                </p>
            </div>
            <div class="col-sm-4">
                <h3 class="text-warning">Canistrelli (Corse)</h3>
                <img class="image" src="canistrelli.jpg" style="width:330px;height:250px;">
                <p>Etape 1
                    Délayer la levure dans un peu d'eau tiède.
                    Etape 2
                    Pétrissez l'ensemble des ingrédients afin d'obtenir une pâte assez épaisse.
                    Etape 3
                    Laissez lever 2 heures.
                    Etape 4
                    Etalez la pâte avec un rouleau, saupoudrez-la de sucre, découpez-la en losanges, en carrés ou en rectangles de 5 à 8 cm.
                    Etape 5
                    Disposez les canistrelli sur une plaque huilée.
                    Etape 6
                    Faites-les cuire à four chaud 15 minutes environ..</p>
            </div>
            <div class="col-sm-4">
                <h3 class="text-warning">Lapin à la corse</h3>
                <img class="image" src="lapin.jpg" style="width:330px;height:250px;">
                <p>
                    Etape 1
                    Coupez le lapin en morceaux et faîtes revenir ceux-ci dans la graisse mise dans un sautoir à fond épais pour qu'ils rissolent sans attacher. Laissez cuire ensuite à feu modéré pendant une heure avec sel et poivre.
                    Etape 2
                    D'autre part, hachez le foie du lapin avec de l'ail, du persil et un fragment de laurier. Ajoutez les noix pilées ainsi que le vin blanc. Salez, poivrez et faîtes mijoter le tout dans une casserole à part pour former une sauce onctueuse.
                    Etape 3
                    Quand le lapin est cuit, dressez les morceaux sur un plat de service, déglacez le fond de cuisson avec la sauce préparée à part. Faîtes bouillir, versez le cognac, flambez et nappez les morceaux de lapin avec cette sauce.
                    Note de l'auteur
                    J'ai donné le nom de la recette tel qu'il m'a été communiqué. C'est un plat qui est apprécié.</p>
            </div>
        </div>
    </div>
{% endblock %}